*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container-titoletto{
    display:flex;
    height:50px;
    background-color: goldenrod;
    justify-content:space-between;
}
.menu-titolo{
    width:25%;
    height:50px;
    background-color: blue;
    border:1px solid red;
    padding:15px;
}
.menu-titolo-centro{
    height:50px;
    width:50%;
    background-color:red;
    padding:15px;
    border:1px solid gray;
}
.intestazione{
    text-align: center;
    background-color: goldenrod;
}
.sottotitologrande{
    max-width:60%;
    margin-left:20%;
}
hr{
    color: gray;
}
.immagine-sezione-left{
    font-size:20px;
    display:flex;
    max-width:60%;
    margin:0 20%;
}
.immagini-sezioni{
    height: 150px;
    border:1px solid black;
    width:50%;
    margin-right:20px;
}
.colonna2{
    font-size: 20px;
    height:200px;
}
.immagine-sezione-right{
    display:flex;
    flex-direction:row-reverse;
    max-width:60%;
    margin:0 20%;
}

.margine-estremo{
    margin-bottom:50px;
}
.immagini-sezioni-right{
    font-size: 20px;
    height: 150px;
    border:1px solid black;
    width:50%;
    margin-right:20px;
}
.immagine-sezione-down{
    font-size:20px;
    width:60%;
    margin:0 20%;
    text-align: center;
}
.colonna-down{
    font-size:20px;
}
.immagine-sezione{
    border:1px solid black;
   height:200px;
   width:80%;
   margin-left:10%;
}